<div class="main">
    <h1>Prayer Times in Tunisia today ( {{ currentDate }} )</h1>
    <h1>Location: {{selectedCity}}</h1>

    <div class="mat-container">
    
        <button mat-raised-button color="primary">Choose a City</button>

        <mat-form-field>
            <mat-label>Choose a City</mat-label>
            <mat-select [(ngModel)]="selectedCity">
              @for (city of cities; track city) {
                <mat-option [value]="city">{{city}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
    </div>

    <button [disabled]="selectedCity.length === 0" mat-raised-button color="warn" (click)="onCitySelected()">Submit</button>


    <div *ngIf="dataSource.length > 0">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="prayer">
              <th mat-header-cell *matHeaderCellDef> Prayer </th>
              <td mat-cell *matCellDef="let prayer"> {{prayer.name}} </td>
            </ng-container>
          
            <ng-container matColumnDef="time">
              <th mat-header-cell *matHeaderCellDef> Time </th>
              <td mat-cell *matCellDef="let prayer"> {{prayer.time}} </td>
            </ng-container>
          
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>


</div>
  
